<p>
  Hello {@user.email},
</p>
<p>
  You can confirm your account email by visiting the URL below:
</p>
<p>
  <a href={@url}>Confirm your account</a>
</p>
<p>
  If you didn't create an account with us, please ignore this.
</p>
