<p>
  Hi {@user.email},
</p>
<p>
  You have been invited to join GTFS Planner. You can set your password by visiting the URL below:
</p>
<p>
  <a href={@url}>Set your password</a>
</p>
<p>
  If you didn't request this invite, please ignore this.
</p>
